*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: rgb(226, 128, 17);
}
#pagina{
  min-width: 360px; /* Para configurar a responsividade da página */
  max-width: 800px; /* Para configurar a responsividade da página */ 
  height: auto;
  margin: 0px auto; /* PAra a página ficar ao centro */
  padding: 20px 0px;
  background-color: white;
}
img{
  width: 100%;
}

.banner{
  width: 100%;
}

nav{
  width: 100%;
  height: auto;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menuOpcoes{
  width: 100%;
  list-style: none;
}
#menuOpcoes li{
  width: 100%;
  height: 40px;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* ALtera a seta do mouse para a mãozinha */
}
#menuOpcoes li:hover{
  background-color: aqua;
}
#menu{
  height: 40px;
  cursor: pointer;
  display: none; /* Troca de Diplay (SOME) */
}
@media screen and (max-width : 730px){
  #menu{
    display: block; /* Troca de Diplay (SOME) */
  }
  #menuOpcoes{
    display: none;
  }
  
}
/*@media screen  and (max-width : 600px){
  #pagina{
    background-color: aqua;
  } 
}
@media screen and (min-width : 300px) and (max-width: 599px){
  #pagina{
    background-color: black;
    color: white;
  }

}
  

@media print{
  *{
    color: rgb(89, 170, 89);
  }
}*/